<div class="row">
    <div class='col-12'>
        <div class='card text-light primary-color bg-gradient my-5'>
            <div class='card-body'>
                <h1 class='card-title text-center'>
                    About Me
                </h1>
                <hr />
                <p class='card-text'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    As an Ecommerce Java Developer Intern at Spencer's, I designed and developed a Maven Spring Boot application to streamline the ecommerce website maintenance and feed ingestion. I applied my skills in Software engineering and Development to create a user-friendly interface and a robust backend. I also collaborated with the IT and marketing teams to test and deploy the application, resulting in improved website performance and analytics.
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    I graduated with a BS in Computer Science from Oregon State University in December 2023, after completing my AS in Computer Science from Ocean County College. I have a passion for developing software-based tools and solutions that enhance user experience and business outcomes. I started my journey in high school, where I discovered my love for programming and software. Despite becoming a father at 18, I did not give up on my education and career goals. I balanced my family and school responsibilities by enrolling in an online program and pursuing internships that helped me gain valuable insights into the software industry. I am motivated by the challenges and opportunities that software development offers, and I am eager to learn and grow as a professional.
                </p>
                <div class="text-center">
                    <button class='btn btn-light btn-gradient m-2' type='button' data-bs-toggle='collapse' data-bs-target='#technologies' aria-expanded='false' aria-controls="technologies">
                        <h5 class='m-2'>Technologies Used Here</h5>
                    </button>
                    <div class='collapse' id ='technologies'>
                        <ul class='list-group'>
                            <li class='list-group-item list-group-item-action'>
                                <b>Python</b> - the main programming language used for the server.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>Django</b> - a webserver framework used to streamline server configuration.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>MySql</b> - an efficient database backend for storing my resume's information.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>HTML</b> -  used for basic webpage modeling.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>CSS</b> - used for basic webpage styling.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>Javascript</b> - used for basic webpage scripting.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>Bootstrap</b> - the main framework used to streamline front-end development
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <img src='static/img/image0.jpeg' class='card-img-bottom' alt='family photo'>
        </div>
    </div>
</div>