<div class="row">
    <div class='col-12'>
        <div class='card text-light primary-color bg-gradient my-5'>
            <div class='card-body'>
                <h1 class='card-title text-center'>
                    Greetings
                </h1>
                <hr />
                <h5 class='card-text text-decoration-none'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Hi, my name is Jesse Piccione. I am an aspiring software developer, and the purpose of the application you are currently viewing is to showcase my
                    skills in maintaining and executing the best software development practices. Going into my senior year of high school, I never really knew what I 
                    wanted to do or be. I thought I was pretty decent at math and science, so I always figured that whatever I did would be something STEM-related. But
                    I still never really had something set in stone that I wanted to do, become, or live with for the rest of my life. Then, one day, I got to take a
                    programming class, thanks to a friend suggesting it to me, and from then on, I really just fell in love with the ideas and concepts of software 
                    development.
                    <br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    During high school, I won the 2018 STEM Tank Regionals as part of a team for an application called Shopping Simulator, a special needs student tool 
                    designed to teach the life skills department at my high school how to shop in a grocery store. Shortly after high school, my life took a different 
                    turn when I found out that I was going to be a father. Nevertheless, I was still able to take on the role of father, provider, and student. In 
                    college, I participated in many project groups involving development in Java, C, C++, Python, Node.js, and Dart, just to name a few. My senior 
                    engineering project was an application called Chirp, a cross-platform mobile application designed using Google's Flutter Framework to power a machine 
                    learning model that makes predictions of birds in a present audio clip.
                    <br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    During my last year of college, I was able to participate in the Spencer's E-commerce Java Developer Internship program, where I gained valuable insight
                    into the software development industry. It is also where I had the privilege of designing and implementing an e-commerce application known as ItemApp. 
                    ItemApp is a Maven-managed Java Spring Boot application that performs statistical analysis of e-commerce site data and serves as a site service management tool.
                    <br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Post-college, I decided to participate in the Meta Professional Back-end Developer Program, which uses the very same technologies that are in play in the Single Page Web
                    Application before you. Make no mistake, the application before you is not in any way, shape, or form a traditional website. A traditional website navigates from page to 
                    page and has a back-trackable user experience. Prior to developing this application, I had an idea to make a project that not only shows my skills and know-how but also 
                    displays them. That is what led to the app that I am calling JessePiccione.com otherwise known as my personal eResume.
                </h5>
                <div class="text-center">
                    <button class='btn btn-light btn-gradient m-4' type='button' data-bs-toggle='collapse' data-bs-target='#technologies' aria-expanded='false' aria-controls="technologies">
                        <h4 class='m-2'>Technologies Used Here</h4>
                    </button>
                    <div class='collapse' id ='technologies'>
                        <ul class='list-group'>
                            <li class='list-group-item list-group-item-action'>
                                <b>Python</b> - the main programming language used for the server.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>Django</b> - a webserver framework used to streamline server configuration.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>MySql</b> - an efficient database backend for storing my resume's information.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>HTML</b> -  used for basic webpage modeling.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>CSS</b> - used for basic webpage styling.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>Javascript</b> - used for basic webpage scripting.
                            </li>
                            <li class='list-group-item list-group-item-action'>
                                <b>Bootstrap</b> - the main framework used to streamline front-end development
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% load static %}
            <img src="{% static '/img/image0.jpeg' %}" class='card-img-bottom' alt='family photo'>
        </div>
    </div>
</div>