{% if objects%}
<div class='row pt-3'>
    <div class='col-12'>
        <div class='card bg-white bg-opacity-75'>
            <div class='card-body'>
                <h2 class='card-title text-center shadow-sm rounded p-3'>
                    Awards &amp; Certifications
                </h2>
                <ul class='list-group bg-white p-2 shadow-sm bg-opacity-75 rounded'> 
                    {% for a in objects %}
                        <li class='list-group-item list-group-item-action'>
                            <h6>{{a.title}} - {{a.year}}</h6>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
