<div class='row px-5'>
    <div class='col-12'>
        <div class='card primary-color bg-gradient text-light my-4'>
            <h2 class='card-title text-center m-3 p-3 mb-0'>
                Awards &amp; Certifications
                <hr class='mb-0' />
            </h2>
            <div class='card-body m-3 mt-0'>
                <ul class='list-group'> 
                    {% for a in objects %}
                        <li class='list-group-item list-group-item-action'>
                            <h6>{{a.title}} - {{a.year}}</h6>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

