{% if objects%}
<div class='row pt-3'>
    <div class='col-12'>
        <div class='card bg-white bg-opacity-75'>
            <div class='card-body'>
                <div class='shadow-sm rounded'>
                    <h2 class='card-title text-center p-3'>
                        Awards &amp; Certifications
                    </h2>
                </div>
                <ul class='list-group bg-white p-2 shadow-sm bg-opacity-75 rounded'> 
                    {% for a in objects %}
                        <li class='list-group-item list-group-item-action'>
                            <b>{{a.title}} - {{a.year}}</b>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
