<div class='row'>
    {% for e in objects %}
    <div class='col-12'>
        <div class='card primary-color bg-gradient text-white my-3 mx-0'>
            <h2 class='card-title m-3 p-3 mb-0 text-center'>
                {{e.degree_type}}
            </h2>
            <div class='card-body m-3'>
                <ul class = 'list-group'>
                    <li class = 'list-group-item list-group-item-action'>
                        <h5>{{e.school_name}} - {{e.location}}</h5>
                    </li>
                    <li class='list-group-item list-group-item-action'>
                        <h6>{{e.start_date}} - {{e.end_date}}</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>