<div class='row'>
    {% for e in objects %}
    <div class='col-12 col-xxl-6 pt-3'>
        <div class='card bg-light bg-opacity-75'>
            <div class='card-body'> 
                <h2 class='card-title text-center'>
                    {{e.degree_type}}
                    <hr/>
                </h2>
                <ul class = 'list-group'>
                    <li class = 'list-group-item list-group-item-action'>
                        <h5>{{e.school_name}} - {{e.location}}</h5>
                    </li>
                    <li class='list-group-item list-group-item-action'>
                        <h6>{{e.start_date}} - {{e.end_date}}</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>