<div class="row px-5">
    {% for entry in entries %}
    <div class='col-12 col-xxl-4'>
        <div class='card text-light primary-color bg-gradient my-4'>
            <div class='card-body m-3 p-3'>
                <h1 class='card-title text-center'>
                    {{entry.title}}
                </h1>
                <hr />
                <div class='card'>
                    <div class='card-body'>
                        <h6 class='card-text text-decoration-none'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{entry.description}}
                            
                        <h6>
                    </div>
                </div>
                <div class="text-center">
                    <button class='btn btn-light btn-gradient m-4' type='button' data-bs-toggle='collapse' data-bs-target="#technologies_{{entry.id}}" aria-expanded='false' aria-controls="technologies">
                        <h4 class='m-2'>Technologies Used Here</h4>
                    </button>
                    <div class='collapse' id ="technologies_{{entry.id}}">
                        <ul class='list-group'>
                            {% for tech in technologies %}
                            {%if tech.pageEntry.title == entry.title %}
                            <li class='list-group-item list-group-item-action'>
                                <b>{{tech.title}}</b> - {{tech.description}} .
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div> 
                </div>
                <div class='text-center embed-responsive-item embed-responsive-16by9'>
            <iframe style='min-width:100%;min-height:400px'class='embed-responsive-item mt-2' src="{{entry.URL}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}
</div>