<div class="row">
    {% for  entry in entries %}
    <div class='col-12 col-xxl-4'>
        <div class='card text-light primary-color bg-gradient'>
            <div class='card-body'>
                <h1 class='card-title text-center'>
                    {{entry.title}}
                </h1>
                <hr />
                <div class='card'>
                    <div class='card-body'>
                        <p class='card-text text-center'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{entry.description}}
                            
                        <p>
                    </div>
                </div>
                <div class="text-center">
                    <button class='btn btn-light btn-gradient' type='button' data-bs-toggle='collapse' data-bs-target="#technologies_{{entry.id}}" aria-expanded='false' aria-controls="technologies">
                        Technologies Used Here
                    </button>
                    <div class='collapse' id ="technologies_{{entry.id}}">
                        <ul class='list-group'>
                            {% for tech in technologies %}
                            {%if tech.pageEntry.title == entry.title %}
                            <li class='list-group-item list-group-item-action'>
                                <b>{{tech.title}}</b> - {{tech.description}} .
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div> 
                </div>
                <div class='text-center ratio ratio-16x9'>
            <iframe class='embed-responsive-item' src="{{entry.URL}}" title="YouTube Video"  allowfullscreen></iframe>
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}
</div>