<div class='row'>
    {% for p in objects %}
        <div class='col-12  col-xxl-6 pt-3'>
            <div class='card bg-light bg-opacity-75'>
                <div class='card-body'>
                    <h2 class='card-title text-center'>
                        {{p.name}}
                        <hr/>
                    </h2>
                    <ul class='list-group'>
                        <li class='list-group-item list-group-item-action'>
                            <h5 class='card-text'>
                                {{p.sponser}}
                            </h5>
                            
                        </li>
                        <li class='list-group-item list-group-item-action'>
                            <h6 class='card-text'>
                                {{p.start_date}} - {{p.end_date}}
                            </h6>
                        </li>
                        <li class='list-group-item list-group-item-action'>
                                <i>{{p.contribution}}</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>