<div class='row'>
    {% for entry, skills in entries.items %}
        <div class='col-12 col-xxl-4 pt-3'>
            <div class = 'card bg-light bg-opacity-75'>
                <div class='card-body'>
                    <h2 class='card-title text-center'>
                        {{entry}}
                        <hr/>
                    </h2>
                    <ul class='list-group'>
                        {% for s in skills %}
                            <li class='list-group-item list-group-item-action'>
                                <h6>{{s.name}}</h6>
                            </li>                      
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>