
<div class='row'>
    {% for obj in objects %}
        <div class='col-12 col-xxl-4 pt-3'>
            <div class='card bg-light bg-opacity-75'>
                <div class='card-body'>
                    <h2 class='card-title text-center'>{{obj.title_held}}</h2>
                    <hr/>
                    <ul class = 'list-group'>
                        <li class='list-group-item list-group-item-action'>
                            <h5>{{obj.company_name}} - {{obj.location}}</h5>
                        </li>
                        <li class='list-group-item list-group-item-action'>
                            <h6>{{obj.start_date}} - {{obj.end_date}}</h6>
                        </li>
                        <li class='list-group-item list-group-item-action'>
                            <i>{{obj.description}}</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
<div>