
<div class='row px-5'>
    {% for obj in objects %}
        <div class='col-12 col-xxl-4'>
            <div class='card primary-color bg-gradient text-light my-4'>
                <h2 class='card-title m-3 mb-0 p-3 text-center'>{{obj.title_held}}<hr class='mb-0' /></h2>
                <div class='card-body  m-3 mt-0 p-3'>
                    <ul class = 'list-group'>
                        <li class='list-group-item list-group-item-action'>
                            <h5>{{obj.company_name}} - {{obj.location}}</h5>
                        </li>
                        <li class='list-group-item list-group-item-action'>
                            <h6>{{obj.start_date}} - {{obj.end_date}}</h6>
                        </li>
                        <li class='list-group-item list-group-item-action'>
                            <i>{{obj.description}}</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
<div>